<nav id="navbar" class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="/">NodeJs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Main page</a>
        </li>
        <%if(session != null || session != undefined){%>
            <li class="nav-item">
              <a class="nav-link" href="/home">Profile</a>
            </li>
        <%}%>
        <%if(session != null || session != undefined){%>
            <li class="nav-item">
                <form method='post' action='/logout'>
                    <input type="submit" value="logout" style="background-color: transparent; border: 0;">
                </form>
            </li>
        <%}%>
        <%if(session == null || session == undefined){%>
            <li class="nav-item">
                <a class="nav-link" href="/register">register</a>
            </li>
        <%}%>
        <%if(session == null || session == undefined){%>
            <li class="nav-item">
                <a class="nav-link" href="/login">login</a>
            </li>
        <%}%>

      </ul>
    </div>
  </div>
</nav>

<script>

</script>

