<!DOCTYPE html>
<html>
  <head>
    <!-- Title -->
    <title>Main Page</title>
    
    <!--- meta tags -->
    <meta charset="UTF-8">
    <meta name="description" content="NodeJs login system">
    <meta name="keywords" content="HTML,CSS,JavaScript,NodeJs,Ejs">
    <meta name="Joshua Markasky" content="NodeJs login system show case">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- boostrap 4 cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!--css links -->
    <link href="/css/all.css" rel="stylesheet" type="text/css"/>
    <link href="/css/navbar.css" rel="stylesheet" type="text/css"/>
    <link href="/css/login.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <% include partials/nav.ejs %>
    
    <div class="container">
      <div class="row">
        <h2>Main Page</h2>    
      </div>
    </div>
    
  </body>
</html>