#navbar {
    margin: 0;
    padding: 0;
    background-color: #303030;
    border-bottom: 1px solid black;
    z-index: 1;
}

#navbar a {
  color: #3C873A;
}

#navbar a:hover {
  color: #68A063;
}

@media (max-width: 576px) {

    #navbar {
        width: 100%;
    }

}
