#navbar {
    margin: 0;
    padding: 0;
    background-color: #68A063;
    border-bottom: 1px solid black;
    z-index: 1;
}

#navbar a {
  color: #3C873A;
}

#navbar a:hover {
  color: #303030;
}

#logout {
    margin-top: .45rem;
}

#logout input {
    color:  #3C873A;
}

#logout input:hover {
    color:  #303030;
}

@media (max-width: 576px) {

    #navbar {
        width: 100%;
    }

}
