#regCon {
    margin-top: 3rem;
}

#row1 {
    background-color: #3C873A;
    padding: 4rem;
    border-radius: 3px;
}

#row2 {
    padding: 4rem;
    background-color: #303030;
    border-radius: 3px;
}

